name: BuildAndTestOnEveryPush.yml

on:
  push:
    branches-ignore:
      - master
      
# nice example: https://github.com/microsoft/vs-editor-api/blob/master/.github/workflows/main.yml

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
    steps:
    - uses: actions/checkout@v1

    - name: Build
      run: dotnet build
    
# Omit test for now, as they require vpn connection to ad server	
#    - name: Test
#      run: dotnet test

#      env:
#         HiQAzureADTestAddress: 'Foobar'
#         HiQAzureADTestPassword: ${{ secrets.HiQAzureADTestPassword }}
#         HiQAzureADTestUser: ${{ secrets.HiQAzureADTestUser }}
      
    - name: Pack release version of task
      if: runner.os == 'Windows' 
      run: dotnet pack --configuration Release --include-source
      
    - name: Push NuGet package to the testfeed
      if: runner.os == 'Windows' 
      run: dotnet nuget push Frends.Community.LDAP\bin\Release\Frends.Community.LDAP.*.nupkg  --api-key ${{ secrets.CommunityFeedApiKey }} --source https://www.myget.org/F/frends-community-test/api/v2/package --symbol-source https://www.myget.org/F/frends-community-test/symbols/api/v2/package
